.body {
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    color:darkblue;
    background-color: darkgoldenrod;
    font-size: xx-large;
}
.sign {
    background-color: darkgoldenrod;
}